<include file="Public/mobile_head"/>
<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/shop_vote.css?v={:SITE_VERSION}">
<body>
    <div class="container">
    	<div class="fixed_bg"></div>
    	<div class="vote_wrap">
        <div class="common_header">
        	<a class="back" href="javascript:;" onClick="history.back()"></a>
            <span>填写验证码</span>
        </div>
      
      	<form class="verify_content" action="">
        	<h6 class="m_15">请填写图片上的字符</h6>
            <img src="__IMG__/weiphp_logo.png"/><br/>
            <p class="m_15"><a id="change"  href="javascript:;">换一个</a></p>
            <input placeholder="请填写验证码" type="text" value="" name="verify"/>
            <br/>
            <button type="submit">确定</button>
        </form>
        
    </div>	
   </div>
<script type="text/javascript">

</script>    
</body>
</html>