<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
	<div id="container" class="container">
    	<!-- 此图片后台可上传 -->
    	<img src="{:ADDON_PUBLIC_PATH}/top_pic.jpg" alt=""/>
        <div class="invite_content">
        	<h6>简介</h6>
			<div class="content">
            	<p>同时在文章中，他也提到了产品合作的一些细节，例如这个合作始于 2013 年 2 月两会期间，是老俞和小马哥的直接交流下的产品，并且新产品将是一款答题类的产品。随后，铺天盖地的猜测纷拥而至，对于产品的形式和上线日期也是众说纷纭。在等待了将近两个星期之后，在这个冬日农历节气大雪过后的第一天，优答终于上线了。</p>
                <p>同时在文章中，他也提到了产品合作的一些细节，例如这个合作始于 2013 年 2 月两会期间，是老俞和小马哥的直接交流下的产品，并且新产品将是一款答题类的产品。随后，铺天盖地的猜测纷拥而至，对于产品的形式和上线日期也是众说纷纭。在等待了将近两个星期之后，在这个冬日农历节气大雪过后的第一天，优答终于上线了。</p>
            </div>
            <h6>日程</h6>
			<div class="content_li">
            	<p><strong>2014-12-12</strong><br/>微信的营销 主讲人王晓丽</p>
                <p><strong>2014-12-13</strong><br/>自媒体的若干做法 主讲人肖利民</p>
                <p><strong>2014-12-14</strong><br/>公众号如何突破 主讲人韦心红</p>
            </div>
            <h6>嘉宾</h6>
			<div class="content_li">
            	<p>WEiPHP联合创始人 韦心红 </p>
                <p>微信产品总监 张小龙</p>
                <p>阿里巴巴总裁 马云</p>
            </div>
        </div>
    </div>    
    <div class="bottom_fixed_bar"><a class="btn" href="#">立即报名</a></div>               
<p class="copyright">{$system_copy_right}{$tongji_code}</p>
<script type="text/javascript">
function closepage(){
	WeixinJSBridge.call('closeWindow');
}
</script>
</body>
</html>
