<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
	<div id="container" class="container">
    	<!-- 此图片后台可上传 -->
    	<img src="{:ADDON_PUBLIC_PATH}/top_pic.jpg" alt=""/>
        <div class="invite_content">
        	<h5>填写参与信息</h5>
               
               
               
               引入通过表单 比如用户绑定
        
        
        </div>    
	</div>
    <p class="copyright">{$system_copy_right}{$tongji_code}</p>
</body>
</html>
