<!-- 头部 -->
<include file="Public/mobile_head"/>	
<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/xydzp.css" media="all">
<body class="xydzp-end">
<div class="container">
	<!--
	 <div class="common_header">
            <a class="back" href="javascript:history.back();">&nbsp;</a>
            我的中奖纪录
    </div>
    -->
	<div class="boxcontent">
		<div class="box">
			<div class="title">
				<span class="span1"><span class="span2">中奖记录</span>&nbsp;</span>
			</div>
            <div class="Detail">
            <table class="table table-bordered">
                <tr>
                    <!--<th>活动</th>-->
                    <th>奖品</th>
                    <th>中奖时间</th>
                </tr>
            <volist name="zjuserlist" id="jp">
                <tr>
                    <!--<td>{$jp.event}</td>-->
                    <td>{$jp.title}</td>
                    <td>{$jp.zjdate|time_format}</td>
                </tr>
            </volist>
            </table>
            </div>
		</div>
	</div>
	<p class="copyright">{$system_copy_right}</p>        
</div>
<include file="Public/mobile_foot"/>
</body>
</html>
