<include file="Public/mobile_head"/>	

<body>
	<div id="container" class="container body">
        <if condition="!empty($list)" >
    	<div class="conpons_list">
        	<volist name='list' id="vo">
                 
                 <if condition='$vo[can_use]'>
                 	<a class="conpon_item" href="{:addons_url('Coupon://Wap/show',array('id'=>$vo['id'],'sn_id'=>$vo['sn_id']))}">
                  <else />
                  	<a class="conpon_item conpon_item_disable" href="javascript:;">
                    
                  </if>	
                  <div class="coupon_head" 
                  	 style="11111;<notempty name="vo[background]">background:url({$vo.background|get_cover_url}) no-repeat; background-size:100% auto;<else />background:url({:ADDON_PUBLIC_PATH}/cover_pic.jpg) no-repeat; background-size:100% auto;</notempty>"
                    >
                  		
                        
                        <div class="line"></div>
                        
                  </div>
                  <div class="coupon_bottom">
                  		<p class="title">{$vo.title}</p>
                        <p class="colorless">
                        	<if condition='$vo[is_use]'>
                                已使用
                            <else />
                                <notempty name="vo.over_time">有效期至:{$vo.over_time|time_format}</notempty>
                            </if>
                        	
                        </p>
                  </div>
                </a>
            </volist> 
        </div>
     
       </if>
        <if condition="empty($list)" >
        	<div class="empty_default">
            <br/><br/><br/><br/>
            	<img src="__IMG__/empty_content.png" width="100"/>
                <br/>
                你目前还没优惠券~</p>
            </div>
        </if>
        <p class="copyright">{$system_copy_right}</p>
                
    </div>
    <include file="Public/card_footer"/>
    <include file="Public/mobile_foot"/>
</body>
<script type="text/javascript">
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	WeixinJSBridge.call('hideToolbar');
});
</script>
</html>
