<extend name="Base/login_base" />
<block name="body">
<!-- 头部 -->
<div class="login_header">
    <div class="small_wrap">
        <a href="/" title="乐摇"><img class="logo" src="__IMG__/logo.png"/></a>
        <div class="nav_r">
            <a href="{:U('/Home/index/about')}">关于乐摇</a>
            &nbsp; &nbsp; &nbsp;
            <a href="{:U('/Home/index/lead')}">接入指引</a>
            &nbsp; &nbsp; &nbsp;
            <a href="{:U('/Home/index/question')}">使用帮助</a>
        </div>
    </div>
</div>

<section class="reg_box small_wrap about_wrap">
	
    <div class="about_content">
    	<h4>关于乐摇</h4>
        <p>
            乐摇是深圳圆梦云科技有限公司深度结合电视媒体行业特征，而打造的一款第三方微信摇电视，行业解决方案。通过简单的一个动作——摇一摇，便可轻松连接两个行业，电视媒体与移动互联网。
        </p>
        <p>
    		同时乐摇作为国内领先的摇电视解决方案平台，能够为电视媒体提供基于微信公众平台的一系列功能，如微信卡券、优惠券、微调研、刮刮卡、微邀约、幸运大转盘、互动游戏、微抢答、微网站、微商城、微调研等。也能够为客户提供，定制特殊功能的专业服务。通过这些功能，让电视媒体拥有更多的互动形式和更广泛的关注，让互动更具商业价值和想象空间。
        </p>
        <p>
        	通过与南方卫视以及其他大型客户一年多的深度合作，我们得到合作卫视方面的一致好评。乐摇未来还将与全国各地面频道进行广泛合作，为践行习总书记提出的媒体融合发展思路进行不懈努力。
        </p>
        
    </div>
    <div class="about_content">
    	<h4>关于圆梦云公司</h4>
        <p>
           	深圳圆梦云科技有限公司是一家具有创新思维的互联网公司，目前专注提供微信在垂直行业的IT解决方案。公司由多年互联网经验的人员组成，技术实力强。</p>
		<p>
			我们开发的WeiPHP是目前最流行的微信第三方免费开源产品，该产品提供了通用的微信开发框架和基础功能，并有详细的二次开发文档提供给广大开发者使用。官网：<a href="http://weiphp.cn">www.weiphp.cn</a>
		</p>
        <p>
			我们已服务过的客户有中信银行，南方卫视等大型企业客户
        </p>
    </div>
    <div class="about_content">
    	<h4>联系方式</h4>
        <p>
         	地址: 深圳市宝安区资安商务大楼2楼2103
		</p>
        <p>
			email: leyao@weiphp.cn
        </p>
    </div>
</section>
</block>
<block name="script">
</block>
