<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
	<div id="container" class="container body">
    	<a class="game_main" href="{:addons_url('Game://Wap/lists')}">
        	<img src="{:ADDON_PUBLIC_PATH}/bg_1.jpg" width="100%"/>
            <img src="{:ADDON_PUBLIC_PATH}/bg_2.jpg" width="100%"/>
            <img src="{:ADDON_PUBLIC_PATH}/bg_3.jpg" width="100%"/>
        </a> 
	</div>
    <p class="copyright" style="display:none>{$system_copy_right}{$tongji_code}</p>
</body>
</html>
