<extend name="Base/common" />
<block name="body">
  <div class="span9 page_message">
    <section id="contents">
      <include file="Addons/_nav" />
      <div class="tab-content"> 
        <!-- 表单 -->
        <php> $post_url || $post_url = U('add?model='.$model['id'], $get_param);</php>
        <form id="form" action="{$post_url}" method="post" class="form-horizontal form-center">
          <!-- 基础文档模型 -->
          <volist name=":parse_config_attr($model['field_group'])" id="group">
            <div id="tab{$key}" class="tab-pane <eq name="key" value="1">in
              </eq>
              tab{$key}">
              <volist name="fields" id="field">
                <if condition="$field['is_show'] == 4">
                  <input type="hidden" class="text input-large" name="{$field.name}" value="{:I($field[name], $field[value])}">
                </if>
                <if condition="$field['is_show'] == 1 || $field['is_show'] == 2 || ($field['is_show'] == 5 && I($field['name']))">
                  <div class="form-item cf toggle-{$field.name}">
                    <label class="item-label">
                    <notempty name="field.is_must"><span class="need_flag">*</span></notempty>
                    {$field['title']}
                    <span class="check-tips">
                      （支持xls,xlsx两种格式<notempty name="import_template">，导入的模板可点击<a href="__STATIC__/import_template/{$import_template}">这里下载</a></notempty>）
                      </span></label>
                    <div class="controls">
                      <switch name="field.type">
                        <case value="file">
                          <div class="controls upload_file">
                            <input type="file" id="upload_file_{$field.name}" title="点击修改文件">
                            <input type="hidden" name="{$field.name}" value="{$data[$field['name']]}"/>
                            <div class="upload-img-box">
                              <present name="data[$field['name']]">
                                <div class="upload-pre-file"><span class="upload_icon_all"></span>{$data[$field['name']]}</div>
                              </present>
                            </div>
                          </div>
                          <script type="text/javascript">
								//上传图片
							    /* 初始化上传插件 */
								$("#upload_file_{$field.name}").uploadify({
							        "height"          : 30,
							        "swf"             : "__STATIC__/uploadify/uploadify.swf",
							        "fileObjName"     : "download",
							        "buttonText"      : "上传附件",
							        "uploader"        : "{:U('File/upload',array('session_id'=>session_id()))}",
							        "width"           : 120,
							        'removeTimeout'	  : 1,
							        "onUploadSuccess" : uploadFile{$field.name}
							    });
								function uploadFile{$field.name}(file, data){
									var data = $.parseJSON(data);
							        if(data.status){
							        	var name = "{$field.name}";
							        	$("input[name="+name+"]").val(data.id);
							        	$("input[name="+name+"]").parent().find('.upload-img-box').html(
							        		"<div class=\"upload-pre-file\"><span class=\"upload_icon_all\"></span>" + data.name + "</div>"
							        	);
							        } else {
							        	updateAlert(data.info);
							        	setTimeout(function(){
							                $('#top-alert').find('button').click();
							                $(that).removeClass('disabled').prop('disabled',false);
							            },1500);
							        }
							    }
								</script> 
                        </case>
                        <default/>
                        <input type="text" class="text input-large" name="{$field.name}" value="{:I($field[name], $field[value])}">
                      </switch>
                    </div>
                  </div>
                </if>
              </volist>
          </volist>
          <div class="form-item cf">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">导 入</button>
             </div>
             
        </form>
        </div>
        <include file="Addons/weixinPreview" />
      </div>
    </section>
  </div>
</block>
<block name="script">
  <script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});
</script> 
</block>