<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://yaotv.qq.com/shake_tv/include/js/jsapi_subscribe.js"></script>
<body>
	<div id="container" class="container">
        <div class="startContent">
            <div class="questionContent" style="text-align:center; margin:50px 0; color:#888">
                <img src="__IMG__/blank_pic.png" width="100"/><br/>
                您回答错了<br/>
                <notempty name="ask.appidArr">请关注下面的公众号找答案吧</notempty>
                <div class="lead_over" id="msg1">请等待<span id="left_time">{$time_left}</span>秒后再参与摇一摇重新回答
                </div>
<!--                 <div class="lead_over" id="msg2" style="display:none"><center>请摇一摇重新回答</center></div> -->
            	<div class="lead_over" id="msg2" style="display:none"><center>请返回微信重新回答</center></div>
               <div class="btnWrap" style="margin:20px 0;">
                <php> foreach($ask['appidArr'] as $id=>$val) { </php>
                    
                     <a href="javascript:;" onClick="subscribe('{$id}');" class="start_btn">{$val}</a>
                    
                <php> } </php>
                </div>
                 <a href="javascript:;" onClick="closepage();" style="color:#444">返回微信</a>
            </div>
         </div>   
     </div>
     <p class="copyright">{$system_copy_right}{$tongji_code}</p>
<script type="text/javascript">
$(function(){
	$('body').css('min-height',$(window).height());
	if($('.startContent ').height()+$('.bottomContainer').height()<$(window).height()){
		$('.bottomContainer').height($(window).height()-$('.startContent ').height());
	}
})
function subscribe(appid){
	shaketv.subscribe(appid, function(returnData){
		  alert(returnData.errorCode + ":" + returnData.errorMsg);
	});	
}
function closepage(){
	WeixinJSBridge.call('closeWindow');
}
var reSentTime = parseInt({$time_left});
function show_time(){ 
	if(reSentTime > 0){ 
		--reSentTime; 
		$('#msg1').show();
		$('#msg2').hide();
		$('#left_time').html(reSentTime);
		setTimeout("show_time()", 1000); //设置1000毫秒以后执行一次本函数
	}else{
		$('#msg1').hide();
		$('#msg2').show();
	}
};
$(function(){
  show_time();	
});
</script>
</body>
</html>
