<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
<div id="container" class="container"> 
	<div class="head_hd">
        <notempty name="ask.cover">
        	<img src="{$ask.cover|get_cover_url}" width="100%">
        <else />
    		<img src="head_pic.jpg" width="100%">
        </notempty>
     </div>
     <div class="btnWrap" style="margin:0 50px;">
     	<a href="{$jumpURL}" class="start_btn"> {$button_name}</a>
     </div>
     <div class="content">
     	 <h4 style="word-wrap:break-word;">{$ask.title}</h4>
     	 <p>简介：</p>
         <div class="detail_desc"><p>{$ask.intro}</p></div>
     </div>
     <p class="copyright">{$system_copy_right}</p>
</div>
<include file="Public/mobile_foot"/>
<script type="text/javascript">
	$.WeiPHP.initWxShare({
		title:"{$ask.title}",
		imgUrl:"{$ask.cover|get_cover_url}",
		desc:"{$ask.intro}",
		link:window.location.href
	})
</script>
</body>
</html>