<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{:isset($info['id'])?'编辑':'新增'}图文样式</h2>
    </div>
    <form action="{$postUrl}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">样式分组<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="group_name" value="{$info.group_name|default=''}">
            </div>
        </div>
       <div class="form-item">
            <label class="item-label">描述<span class="check-tips"></span></label>
            <div class="controls" style="width:600px" >
             <label class="textarea">
                <textarea style="height:100px" name="desc" >{$info.desc}</textarea>
             </label>
            </div>
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('index')}');
    </script>
</block>